input[type="text"] {
  width: 60%;
  height: 50px;
  font-size: 1.25em;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
  box-sizing: border-box;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.primary__btn {
  background-color: #29b39e;
  border-radius: 8px;
  height: 40px;
  width: 80px;
  font-size: 1em;
  font-weight: 600;
  color: white;
  border: none;
}

.primary__btn:hover {
  cursor: pointer;
  background: #389e8f;
  border-radius: 8px;
}

.primary__btn:active {
  background-color: #0f7e9a;
}

.primary__btn:focus {
  outline: none;
}
