.buttonBox {
    background-color: #c7a04b;
    border: 2px solid white;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    width: 160px;
    height: 80px;
  }