@font-face {
  font-family: logo;
  src: url("./bamboo/leaves_and_ground.ttf");
}
.button {
  width: 100px;
  height: 40px;
  align-items: center;
}

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  font-family: Fantasy;
  font-size: 3em;
  font-weight: bold;
}
