.button {
  width: 100px;
  height: 40px;
  align-items: center;
}

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  flex-direction: column;
  font-family: logo, Fantasy;
  font-size: 100px;
  font-weight: bold;
}